{
    "source": {
        "directories": [
            "packages/*/src"
        ]
    },
    "mutators": {
        "@default": true
    },
    "logs": {
        "stryker": {
            "badge": "1.0.x"
        },
        "text": "infection.log"
    }
}
