<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="Pheature coding standard">
    <description>Pheature coding standard</description>

    <!-- display progress -->
    <arg value="p"/>
    <arg name="colors"/>

    <!-- inherit rules from: -->
    <rule ref="PSR12"/>
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <rule ref="Squiz.WhiteSpace.SuperfluousWhitespace">
        <properties>
            <property name="ignoreBlankLines" value="false"/>
        </properties>
    </rule>

    <!-- Paths to check -->
    <file>packages</file>
    <include-pattern>packages/*/src</include-pattern>
    <exclude-pattern>packages/*/test</exclude-pattern>
</ruleset>
